* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: calc(80dvw * 0.090909090909);
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 11dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: SteelBlue;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.title {
  font-size: 2rem;
  font-weight: 1000;
  color: #949292;
  text-shadow: black 1px 0 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #949292;
  padding: 10px;
}

.footer {
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 11dvh;
  background-color: SteelBlue;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.4);
}

a,
a:visited {
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  color: #949292;
  text-shadow: black 1px 0 10px;
}
a:hover {
  color: rgb(148, 146, 146, 0.6);
}

#gitlink {
  flex: 1;
}

.ready-screen {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  animation: fadeIn 2s;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

button {
  padding: 15px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, min(var(--cell-size), 75px));
  grid-template-rows: repeat(11, min(var(--cell-size), 75px));
  border: 1px solid black;
  box-shadow: 0 0 6px 6px rgba(74, 74, 74, 0.8);
  background-color: white;
}

.cell {
  cursor: pointer;
  border: 1px solid black;
}

.cell p {
  height: 100%;
  display: flex;
  font-size: 1rem;
  font-weight: 1000;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url("./assets/battleship.svg");
  height: 100px;
  width: 100px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.home-screen {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #a0d2fc;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.player1,
.player2 {
  background-color: #747474;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid black;
  box-shadow: 0 0 6px 6px rgba(74, 74, 74, 0.8);
  gap: 15px;
  color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
}
input {
  font-size: 1.1rem;
}
.playertype-buttons button {
  width: 100%;
}

#playertype,
.buttons > button,
#next-turn,
#myBoard,
#enemyBoard {
  background-color: steelblue;
  border: none;
  font-size: 1.3rem;
  color: #cbcaca;
  text-shadow: black 1px 0 10px;
}

#next-turn.Continue {
  background-color: #000000;
  margin: 0;
}

.buttons > button {
  font-size: 0.8rem;
  padding: 5px;
}

#playertype:hover,
.buttons > button:hover {
  opacity: 0.8;
}

#Start {
  background-color: steelblue;
  border: none;
  font-size: 1rem;
  color: #cbcaca;
  text-shadow: black 1px 0 10px;
}

#Start:hover {
  color: #e1e0e0;
  background-color: rgb(57, 107, 147);
}

.label {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 100%;
}

.label p {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Continue {
  width: 100%;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1.3rem;
  box-shadow: 0 0 8px 10px inset rgba(74, 74, 74, 0.8);
}

.Continue:hover {
  opacity: 0.7;
}

.passDevice-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.game-screen {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}
.myBoard,
.enemyBoard {
  display: grid;
  grid-template-columns: repeat(11, min(var(--cell-size), 75px));
  grid-template-rows: repeat(11, min(var(--cell-size), 75px));
  border: 1px solid black;
  box-shadow: 0 0 6px 6px rgba(74, 74, 74, 0.8);
  background-color: white;
  z-index: 100;
}

div:has(> .myBoard) {
  display: none;
}

.miss {
  background-color: lightgray;
  pointer-events: none;
}

.hit,
.boat.hit {
  background-color: red;
  pointer-events: none;
}

.boat,
.occupied {
  background-color: blue;
  opacity: 0.6;
}
.draggedOver {
  background-color: lightgreen;
}
.draggedOverNegative {
  background-color: lightcoral;
}
h1 {
  text-align: center;
  color: #a0d2fc;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6));
  margin-bottom: 10px;
}

#next-turn {
  margin-bottom: 10px;
}

#newGame {
  position: sticky;
  border-radius: 100%;
  width: 43px;
  font-size: 0.6rem;
  font-weight: 1000;
  box-shadow: 0 0 6px 6px rgba(74, 74, 74, 0.8);
  border: none;
  margin-right: 5px;
}

dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

dialog {
  animation: fadeIn 1s;
  font-size: 1.5rem;
  background-color: #323443;
  color: SteelBlue;
  padding: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
}

dialog div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

dialog button {
  border: none;
  background-color: steelblue;
  font-size: 1.3rem;
  color: #cbcaca;
  text-shadow: black 1px 0 10px;
}

dialog button:hover {
  color: #e1e0e0;
  background-color: rgb(57, 107, 147);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 45%);
  backdrop-filter: blur(4px);
}

#Carrier {
  width: calc(min(var(--cell-size), 75px) * 5);
  height: min(var(--cell-size), 75px);
  border: 1px solid blue;
  background-color: lightblue;
}
.draggable {
  cursor: grab;
}
#Patrol_Boat {
  width: calc(min(var(--cell-size), 75px) * 2);
  height: min(var(--cell-size), 75px);
  border: 1px solid blue;
  background-color: lightblue;
}
#Battleship {
  width: calc(min(var(--cell-size), 75px) * 4);
  height: min(var(--cell-size), 75px);
  border: 1px solid blue;
  background-color: lightblue;
}

#Destroyer,
#Submarine {
  width: calc(min(var(--cell-size), 75px) * 3);
  height: min(var(--cell-size), 75px);
  border: 1px solid blue;
  background-color: lightblue;
}

.ships-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  padding: 10px;
  box-shadow: 0 0 6px 6px rgba(74, 74, 74, 0.8);
}

@media all and (min-width: 1705px) {
  .header {
    display: flex;
  }
  .buttons > button {
    font-size: 1.5rem;
    padding: 20px;
  }
  #newGame {
    font-size: 1rem;
    width: 52px;
  }
  .game-screen {
    flex-direction: row;
    width: 100%;
  }
  .ready-screen {
    flex-direction: row;
  }
  #myBoard,
  #enemyBoard {
    display: none;
  }
  div:has(> .enemyBoard),
  div:has(> .myBoard) {
    display: block;
  }

  #Carrier {
    width: calc(75px * 5);
    height: 75px;
  }

  #Patrol_Boat {
    width: calc(75px * 2);
    height: 75px;
  }

  #Battleship {
    width: calc(75px * 4);
    height: 75px;
  }

  #Destroyer,
  #Submarine {
    width: calc(75px * 3);
    height: 75px;
  }
}
